@import "tailwindcss";
body{
    background:var(--color-bg);
    color:var(--color-text);
}

*{
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}
/* Hide horizontal scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}